@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
/**
 * White theme for reveal.js.
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #FFF; }

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #000; }

::selection {
  color: white;
  background: rgba(79, 64, 28, 0.99);
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #000;
  font-family: "Montserrat", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.03em;
  text-transform: none;
  text-shadow: none; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #A2650B;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #c0a86e;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #564826; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #8b743d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #8b743d; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #8b743d; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #8b743d; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #8b743d; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #c0a86e; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #c0a86e; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #c0a86e; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #c0a86e; }

.reveal ul {
  margin-left: 1.5em;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #8b743d;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.names {
  width: 100%;
}

.names h3 {
  font-family: "Open Sans", sans-serif;
}

.names h3 span.first, .names h3 span.last {
  padding-bottom: 0.5em;
}

.names h3 span.first {
  text-align: right;
  font-weight: 400;
  padding-right: 0.25em;
}

.names h3 span.last {
  text-align: left;
  font-weight: 700;
}

.strike {
  text-decoration: line-through;
}

.reveal pre {
  font-size: 0.8em;
  box-shadow: none;
  width: 95%;
}

.reveal pre code {
  padding: 10px;
}

.reveal pre.inline {
  width: auto;
  display: inline;
  padding: 0;
}

.reveal pre.inline code {
  display: inline;
  padding: 0;
  vertical-align: 0;
}

.reveal table {
  margin: 10px auto;
  background: #EEE;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th, .reveal table td {
  padding: 1px 10px;
}

.reveal blockquote {
  width: 85%;
  background: #EEE;
  box-shadow: none;
}